.btnLoadMore {
    background-color: rgb(25, 155, 47);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    margin-top: 50px;
    padding: 14px;
    width: 225px;
    border-radius: 10.3108px;
    cursor: pointer;
    border-style: none;
    font-family: 'Montserrat';

}

.loadMoreWrapper {
    display: flex;
    justify-content: center;
}